$pricing-bg: #1C1D20;
$pricing-border-color: #3C3E43;


.price-area {
    background-color: $pricing-bg;
    position: relative;
}

.pricing-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}