// About Us
.about-us-area {
  &.style-2 {
    padding: 120px 0;
  }
}

// Modal Area
.video-popup-area {
  position: relative;
  margin-top: -240px;

  .video-popup-wrapper {
    position: relative;

    .get-quot-form {
      padding: 0 40px;
      margin-top: -180px;
    }
    .comment-respond.style-2 .comment-respond-wrapper {
      margin-left: 0;
      padding: 60px 70px;

      &:before {
        width: 100%;
        border-radius: 10px;
        margin-right: 0;
      }
    }
  }
  .shape {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

// Process Step Area
.process-step-area {
  &.style-1 {
    padding-top: 120px;
    padding-bottom: 370px;
  }
}

// Portfolio Area
.portfolio-bg-area {
  padding-top: 120px;
  padding-bottom: 390px;
  position: relative;
  z-index: 1;
  background-color: $black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    background-color: $black;
    opacity: 0.95;
  }
  .shape {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.05;
  }
}
.portfolio-filter-area {
  margin-top: -400px;
  position: relative;
  z-index: 2;

}