// Latest Post Area
.latest-posts-area {
  &.style-1 {
    padding-top: 120px;
    padding-bottom: 130px;

    .section-title {
      margin-bottom: 190px;
    }
    .post-card {
      .content {
        .title {
          color: $white;
        }
      }
      .post-meta {
        .single-post-meta {
          .icon {
            background-color: #3F3F3F;
            color: $white;

            &:before {
              background-color: $black-100;
            }
          }
        }
      }
    }
  }
}


// Testimonial Slider
.testimonial-slider-area {
  &.style-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding-top: 110px;
    padding-bottom: 120px;

    .testimonial-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 40%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
      }
    }
  }
}

// Request Form Area
.request-form-area {
  margin-top: -90px;
}

// About Us Area
.about-us-area {
  &.style-1 {
    padding-top: 140px;
    padding-bottom: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

  }
}

// Call To Action
.cta-area {
  padding-top: 180px;
  padding-bottom: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 2;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $black-100;
    opacity: 0.90;
  }

  .counter-area {
    text-align: right;
    position: absolute;
    width: 100%;
    bottom: 0;

    .counter-card {
      margin-right: -240px;
    }
  }
}

// Feature Area
.feature-area {
  &.style-1 {
    padding-top: 153px;
    padding-bottom: 140px;
    position: relative;

    .feature-image-bg-one {
      position: absolute;
      top: -150px;
      left: 0;
      opacity: 0.05;
    }
    .feature-image-bg-two {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0.04;
    }
  }
}
//
//// About Us Area
//.about-us-area {
//    &.style-1 {
//      padding: 120px 0;
//      background-color: rgb(241, 241, 249);
//      @include sm {
//        padding: 80px 0;
//      }
//      @include md {
//        padding: 100px 0;
//      }
//      .section-title {
//        margin-bottom: 20px;
//      }
//      .about-info-card {
//        &.style-1 {
//          @include sm {
//            margin-top: 134px;
//          }
//          @include md {
//            margin-top: 120px;
//          }
//        }
//      }
//      .about-image-wrapper {
//        position: absolute;
//        border-radius: 12px;
//        overflow: hidden;
//        width: auto;
//        right: -140px;
//        bottom: 0;
//        transform: translateY(50%);
//        margin-bottom: -156px;
//        padding: 0;
//
//        @include md {
//          right: 0;
//          width: 250px;
//          height: 200px;
//        }
//        @include lg {
//          right: 0;
//        }
//        @include xl {
//          right: 0;
//        }
//        @include rmaxwd(767) {
//          width: 200px;
//          height: 150px;
//          bottom: 0;
//          transform: translateY(0);
//          right: 15px;
//
//          img {
//            border-radius: 12px;
//          }
//        }
//      }
//    }
//}
//// Video Popup Area
////.video-popup-area {
////  margin-bottom: -228px;
////
////  @include rmaxwd(991) {
////    margin-bottom: -180px;
////  }
////  @include rmaxwd(767) {
////    margin-bottom: -80px;
////  }
////}
//
//// Counter Up Area
//.counter-up-area {
//  &.style-1 {
//    padding: 138px 0;
//    background-color: rgb(53, 54, 61);
//    z-index: -1;
//
//    @include xs {
//      padding: 80px 0;
//    }
//    @include sm {
//      padding: 100px 0;
//    }
//    @include md {
//      padding: 120px 0;
//    }
//  }
//}
//// Why Choose Us Area
//.feature-area {
//  &.style-1 {
//    padding-top: 120px;
//    padding-bottom: 190px;
//
//    @include sm {
//      padding-top: 80px;
//      padding-bottom: 56px;
//    }
//
//    @include md {
//      padding-top: 100px;
//      padding-bottom: 76px;
//    }
//    @include lg {
//      padding-bottom: 120px;
//    }
//    @include xl {
//      padding-bottom: 120px;
//    }
//    .info-card {
//      @include sm {
//        padding: 40px;
//      }
//      @include lg {
//        padding: 50px 22px;
//      }
//      @include xl {
//        padding: 50px 40px;
//      }
//    }
//    .gx-6 {
//      --bs-gutter-x: 5.55rem;
//
//      @include sm {
//        --bs-gutter-x: 1rem;
//      }
//      @include md {
//        --bs-gutter-x: 1rem;
//      }
//      @include lg {
//        --bs-gutter-x: 1rem;
//      }
//      @include xl {
//        --bs-gutter-x: 2rem;
//      }
//    }
//    .section-title {
//      align-items: center;
//      margin-bottom: 84px;
//
//      @include sm {
//        flex-direction: column;
//        gap: 50px;
//        margin-bottom: 50px;
//        align-items: flex-start;
//      }
//      @include md {
//        margin-bottom: 50px;
//        align-items: flex-start;
//      }
//      @include lg {
//        margin-bottom: 50px;
//      }
//      .title {
//        br {
//          @include md {
//            display: none;
//          }
//          @include lg {
//            display: none;
//          }
//        }
//      }
//      .sec-content {
//        @include rmaxwd(767) {
//          width: 100%;
//        }
//      }
//      .sec-desc {
//        width: 537px;
//        font-size: 21px;
//        font-family: $roboto-font;
//
//        @include rmaxwd(767) {
//          width: 100%;
//        }
//        p {
//          margin-bottom: 25px;
//        }
//      }
//    }
//  }
//}
//
//// Service Area
//.service-area {
//  &.style-1 {
//    padding-top: 120px;
//    padding-bottom: 96px;
//    @include sm {
//      padding-top: 80px;
//      padding-bottom: 56px;
//    }
//    @include md {
//      padding-top: 100px;
//      padding-bottom: 76px;
//    }
//    .section-title {
//      margin-bottom: 84px;
//
//      @include sm {
//        margin-bottom: 50px;
//      }
//      @include md {
//        margin-bottom: 50px;
//      }
//      @include lg {
//        margin-bottom: 50px;
//      }
//    }
//  }
//}
//
//// Portfolio Slider Area
//.portfolio-slider-area {
//  &.style-1 {
//    .section-title {
//      margin-bottom: 84px;
//      @include sm {
//        margin-bottom: 50px;
//      }
//      @include md {
//        margin-bottom: 50px;
//      }
//      @include lg {
//        margin-bottom: 50px;
//      }
//    }
//    .portfolio-main-wrapper {
//      display: grid;
//      grid-template-columns: repeat(4, 1fr);
//      background-repeat: no-repeat;
//      background-position: center center;
//      background-size: cover;
//
//      @include xs() {
//        grid-template-columns: repeat(1, 1fr) !important;
//      }
//
//      @include rmaxwd(991) {
//        grid-template-columns: repeat(2, 1fr);
//      }
//    }
//    .portfolio-fullscreen {
//      position: relative;
//      overflow: hidden;
//      background-color: $blue-color;
//
//      .tabimg {
//        position: absolute;
//        top: 0;
//        left: 0;
//        width: 100%;
//        height: 100%;
//      }
//    }
//    .portfolio-fullscreen-image {
//      position: absolute;
//      width: 100%;
//      height: 100%;
//      left: 0;
//      top: 0;
//
//      .tabimg {
//        transform: scale(1.1);
//        opacity: 0;
//        @include transition;
//        background-size: cover;
//        background-position: center center;
//        background-repeat: no-repeat;
//
//        &.active {
//          transform: scale(1);
//          opacity: 1;
//        }
//      }
//    }
//    .single-portfolio-item {
//      display: flex;
//      flex-direction: column;
//      justify-content: space-between;
//      gap: 415px;
//      padding: 65px 57px 61px 57px;
//      border-right: 1px solid rgba(255, 255, 255, 0.42);
//      position: relative;
//      z-index: 2;
//
//      @include xs {
//        padding: 30px !important;
//      }
//      @include rmaxwd(991) {
//        gap: 150px;
//        border-bottom: 1px solid rgba(255, 255, 255, 0.42);
//        padding: 40px;
//      }
//      @include lg {
//        gap: 200px;
//        padding: 30px;
//      }
//
//      @include xl {
//        gap: 230px;
//        padding: 30px;
//      }
//      &:before {
//        position: absolute;
//        content: "";
//        width: 100%;
//        height: 100%;
//        left: 0;
//        top: 0;
//        background-color: rgb(53, 54, 61);
//        opacity: 0.722;
//        z-index: -1;
//        @include transition;
//      }
//
//      &.active {
//        &:before {
//          opacity: 0.4;
//          @include transition;
//        }
//      }
//      &:last-child {
//        border-right-color: transparent;
//      }
//
//      .portfolio-cat-wrapper {
//        writing-mode: vertical-lr;
//      }
//      .portfolio-cat {
//        font-size: 16px;
//        font-weight: 500;
//        color: $white;
//        text-transform: uppercase;
//        position: relative;
//
//        @include sm {
//          font-size: 14px;
//        }
//        &:before {
//          position: absolute;
//          content: "";
//          width: 1px;
//          height: 30px;
//          background-color: $white;
//          left: 50%;
//          transform: translateX(-50%);
//          bottom: -43px;
//        }
//      }
//      .portfolio-content {
//        margin-left: 10px;
//        .title {
//          font-size: 30px;
//          font-weight: 500;
//          line-height: 42px;
//          color: $white;
//
//          @include sm {
//            font-size: 20px;
//            line-height: 32px;
//          }
//          @include md {
//            font-size: 24px;
//            line-height: 36px;
//          }
//
//          @include lg {
//            font-size: 24px;
//            line-height: 36px;
//          }
//          @include xl {
//            font-size: 25px;
//          }
//        }
//      }
//    }
//  }
//}
//// About Gallery Area
//.about-gallery-area {
//  padding-top: 120px;
//
//  @include  sm {
//    padding-top: 80px;
//  }
//  @include  md {
//    padding-top: 100px;
//  }
//  .col-spacing {
//    display: inline-block;
//    margin: 10px 0;
//    width: 100%
//  }
//  .gallery-masonry-grid {
//    display: flex;
//    align-items: center;
//    justify-content: space-between;
//
//    @include rmaxwd(570) {
//      flex-direction: column;
//    }
//    .gallery-twin-col {
//      width: 510px;
//
//      @include sm{
//        width: 100%;
//      }
//      @include md{
//        width: 100%;
//      }
//      .medium-img-sec {
//        height: 414px;
//        overflow: hidden;
//        @include sm {
//          height: 256px;
//        }
//        @include md {
//          height: 256px;
//        }
//        img {
//          min-height: 414px;
//          object-fit: cover;
//          width: 100%;
//          height: 100%;
//
//          @include sm {
//            min-height: 256px;
//          }
//          @include md {
//            min-height: 256px;
//          }
//        }
//      }
//      .small-img-sec {
//        height: 256px;
//        overflow: hidden;
//
//        img {
//          min-height: 256px;
//          object-fit: cover;
//          width: 100%;
//          height: 100%;
//        }
//      }
//    }
//    .gallery-center-col {
//      width: 945px;
//      margin: 0 30px;
//
//      @include rmaxwd(570) {
//        margin: 30px 0;
//      }
//      @include sm{
//        width: 100%;
//      }
//      @include md{
//        width: 100%;
//      }
//      .large-img-sec {
//        height: 700px;
//        overflow: hidden;
//
//        @include sm {
//          height: 542px;
//        }
//        @include md {
//          height: 542px;
//        }
//        img {
//          min-height: 700px;
//          object-fit: cover;
//
//          @include sm {
//            min-height: 542px;
//          }
//          @include md {
//            min-height: 542px;
//          }
//        }
//      }
//    }
//  }
//}
//
//
//
//// Faq Area
//.faq-area {
//  &.style-1 {
//    padding-top: 120px;
//    padding-bottom: 125px;
//
//    @include sm {
//      padding-top: 80px;
//      padding-bottom: 75px;
//    }
//    @include md {
//      padding-top: 100px;
//      padding-bottom: 95px;
//    }
//    .section-title {
//
//      .title {
//        margin-bottom: 20px;
//
//        @include lg {
//          font-size: 48px;
//          line-height: 62px;
//        }
//      }
//      margin-bottom: 30px;
//    }
//    .accordion-wrapper {
//      &.style-two {
//        @include lg {
//          padding-left: 50px;
//        }
//        @include xl {
//          padding-left: 50px;
//        }
//        .accordion-list-item .accordion-head {
//          @include lg {
//            padding: 20px;
//          }
//          @include xl {
//            padding: 20px;
//          }
//        }
//      }
//    }
//    .faq-img-wrapper {
//      @include md {
//        text-align: center;
//        margin-bottom: 120px;
//      }
//      @include sm {
//        text-align: center;
//        margin-bottom: 128px;
//      }
//
//      .image-wrapper {
//        display: inline-block;
//        position: relative;
//
//        .image-inner {
//          overflow: hidden;
//          border-radius: 12px;
//        }
//        &:before {
//          position: absolute;
//          content: "";
//          top: 0;
//          left: 0;
//          border-top: 75px solid $white;
//          border-right: 75px solid transparent;
//          z-index: 1;
//
//          @include sm {
//            display: none;
//          }
//        }
//        &:after {
//          position: absolute;
//          content: "";
//          bottom: 0;
//          right: 0;
//          border-bottom: 120px solid $white;
//          border-left: 120px solid transparent;
//          z-index: 1;
//
//          @include sm {
//            display: none;
//          }
//        }
//
//        .company-label {
//          position: absolute;
//          bottom: 0;
//          left: 0;
//          transform: translate(-41%, 39%);
//
//          @include sm {
//            bottom: unset;
//            left: 50%;
//            transform: translate(-50%, -50%);
//          }
//            .icon {
//              width: 170px;
//              height: 170px;
//              box-shadow: 0px 5px 90px 0px rgba(2, 24, 93, 0.12);
//              background-color: $white;
//              border-radius: 50%;
//              display: flex;
//              align-items: center;
//              justify-content: center;
//            }
//
//          .circle-rotate-text {
//            span {
//              color: $black;
//            }
//          }
//        }
//        .company-foundation {
//          position: absolute;
//          top: 73px;
//          right: -50px;
//          display: flex;
//          align-items: center;
//          gap: 14px;
//          background-color: $blue-color;
//          border-radius: 12px;
//          padding: 22px 20px;
//          text-align: left;
//
//          @include sm {
//            right: -10px;
//            padding: 15px 20px;
//          }
//          span {
//            color: $white;
//            font-size: 18px;
//            font-weight: 500;
//
//            &.counter {
//              font-size: 60px;
//
//              @include sm {
//                font-size: 42px;
//              }
//            }
//          }
//        }
//      }
//    }
//
//  }
//}
//
//// Client Logo Area
//.brand-slider-area {
//  overflow: hidden;
//  &.style-1 {
//    overflow: hidden;
//    padding: 50px 0;
//    background-color: $black;
//
//  }
//  .slick-list {
//    margin: 0 -20px;
//    .slick-slide {
//      margin:0 20px;
//    }
//  }
//}
//// News Area
//.latest-posts-area {
//  &.style-1 {
//    padding: 120px 0;
//
//    @include sm {
//      padding: 80px 0;
//    }
//    @include md {
//      padding: 100px 0;
//    }
//    .section-title {
//      margin-bottom: 84px;
//      @include sm {
//        margin-bottom: 50px;
//      }
//      @include md {
//        margin-bottom: 50px;
//      }
//      @include lg {
//        margin-bottom: 50px;
//      }
//    }
//    .post-card-wrapper {
//      padding-left: 48px;
//
//      @include rmaxwd(991) {
//        padding-left: 0;
//        margin-top: 40px;
//      }
//      @include lg {
//        padding-left: 0;
//      }
//      @include xl {
//        padding-left: 0;
//      }
//    }
//    .post-card {
//      &.style-2 {
//        padding-right: 48px;
//
//        @include rmaxwd(991) {
//          padding-right: 0;
//        }
//      }
//    }
//  }
//}
//
//// Testimonial Area
//.testimonial-slider-area {
//  &.style-1 {
//    padding-top: 120px;
//    position: relative;
//    overflow: hidden;
//
//    @include sm {
//      padding-top: 80px;
//      padding-bottom: 80px;
//    }
//    @include md {
//      padding-top: 100px;
//    }
//    .testimonial-slider-wrapper {
//      .slick-list {
//       padding-bottom: 120px;
//
//        @include sm {
//          padding-bottom: 40px;
//        }
//        @include md {
//          padding-bottom: 100px;
//        }
//      }
//    }
//
//    .testimonial-user-wrapper {
//      position: absolute;
//      top: 0;
//      left: 0;
//      width: 100%;
//      height: 100%;
//      z-index: 2;
//      overflow: visible;
//
//      @include sm {
//        display: none;
//      }
//
//      &:before {
//        position: absolute;
//        content: "";
//        border-radius: 6px;
//        background-color: $blue-color;
//        left: -40px;
//        width: 36px;
//        height: 36px;
//        top: 60%;
//        transform: translateY(-50%);
//      }
//      &:after {
//        position: absolute;
//        content: "";
//        border-radius: 6px;
//        border: 3px solid $primary-color;
//        right: -140px;
//        width: 52px;
//        height: 52px;
//        top: 37%;
//        transform: translateY(-50%);
//      }
//      .slick-list,
//      .slick-track {
//        height: 100%;
//        width: 100% !important;
//        overflow: visible;
//        padding-bottom: 0;
//        transform: none !important;
//      }
//      .single-user {
//        width: 120px !important;
//        height: 120px !important;
//        overflow: hidden;
//        border-radius: 8px;
//        position: absolute;
//        display: inline-block;
//        cursor: pointer;
//        @include transition;
//
//        &.slick-current {
//          border: 2px solid $blue-color;
//          @include transition;
//          border-radius: 100% !important;
//        }
//        img {
//          position: absolute;
//          left: 0;
//          top: 0;
//          width: 100%;
//          height: 100%;
//          object-fit: cover;
//        }
//
//        &:nth-child(1) {
//          width: 73px !important;
//          height: 73px !important;
//          left: 0;
//          top: 0;
//
//        }
//        &:nth-child(2) {
//          width: 121px !important;
//          height: 121px !important;
//          right: -200px;
//          top: -20px;
//
//          @include xl {
//            right: 0;
//          }
//          @include lg {
//            right: 0;
//          }
//          @include md {
//            right: 0;
//            width: 100px !important;
//            height: 100px !important;
//          }
//        }
//        &:nth-child(3) {
//          width: 97px !important;
//          height: 97px !important;
//          left: -200px;
//          top: 225px;
//
//          @include xl {
//            left: 0;
//          }
//          @include lg {
//            left: 0;
//          }
//          @include md {
//            left: 0;
//            width: 80px !important;
//            height: 80px !important;
//          }
//        }
//        &:nth-child(4) {
//          width: 73px !important;
//          height: 73px !important;
//          right: -30px;
//          top: 330px;
//
//          @include md {
//            right: 0;
//            width: 70px !important;
//            height: 70px !important;
//          }
//          @include lg {
//            top: 220px;
//          }
//          @include xl {
//            top: 280px;
//          }
//        }
//        &:nth-child(5) {
//          left: 20px;
//          bottom: 70px;
//
//          @include md {
//            left: 0;
//            width: 100px !important;
//            height: 100px !important;
//          }
//        }
//        &:nth-child(6) {
//          right: -180px;
//          bottom: 90px;
//          width: 97px !important;
//          height: 97px !important;
//
//          @include xl {
//            right: 0;
//          }
//          @include lg {
//            right: 0;
//          }
//          @include md {
//            right: 0;
//            width: 90px !important;
//            height: 90px !important;
//          }
//        }
//      }
//    }
//    .testimonial-slider-wrapper {
//      padding: 0 100px;
//
//      @include sm {
//        padding: 0 20px;
//      }
//
//      @include lg {
//        padding: 0 140px;
//      }
//      @include xl {
//        padding: 0 170px;
//      }
//    }
//  }
//}
//
//
//
//// Team Area
//.team-area {
//  &.style-1 {
//    padding-top: 120px;
//    padding-bottom: 113px;
//
//    @include sm {
//      padding-top: 80px;
//      padding-bottom: 59px;
//    }
//    @include md {
//      padding-top: 100px;
//      padding-bottom: 79px;
//    }
//    .section-title {
//      margin-bottom: 84px;
//      @include sm {
//        margin-bottom: 50px;
//      }
//      @include md {
//        margin-bottom: 50px;
//      }
//      @include lg {
//        margin-bottom: 50px;
//      }
//    }
//  }
//}
//
//// Call To Action
//.cta-area {
//  &.style-1 {
//    padding-top: 166px;
//    padding-bottom: 165px;
//
//    @include sm {
//      padding: 80px 0;
//    }
//    @include md {
//      padding: 100px 0;
//    }
//  }
//}