
// Service Details Page
.service-details-page {
    padding: 140px 0;

    @include sm{
        padding: 80px 0;
    }
    @include md{
        padding: 100px 0;
    }
    .details-content {
        margin-bottom: 40px;
        .feature-image {
            overflow: hidden;
            margin-bottom: 50px;

            img {
                width: 100%;
            }
        }
        .text {
            margin-bottom: 30px;
            .title {
                font-size: 45px;
                font-weight: 600;
                line-height: initial;
                margin-bottom: 24px;
                color: $black;
            }
            p {
                font-size: 16px;
                line-height: 29px;
            }
        }

        .member-court {
            padding: 26px 112px 27px 41px;
            border-left: 3px solid #CDB091;
            margin-bottom: 50px;

            .desc {
                font-family: $heading-font;
                font-size: 20px;
                font-weight: 600;
                color: $black;
                margin-bottom: 0;
            }
        }
        p {
            font-size: 16px;
            line-height: 29px;
            margin-bottom: 0;
        }
    }
    .overview-item {
        position: relative;
        .list-item {
            margin-bottom: 50px;
            display: flex;
            gap: 189px;
            @include xs {
                flex-wrap: wrap;
                gap: 0;
            }
            @include sm {
                gap: 14px;
            }
            @include md {
                gap: 50px;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-bottom: 0;
                li {
                    gap: 15px;
                    align-items: center;
                    padding-top: 0;
                    .icon-img {
                        width: 20px;
                        height: 20px;
                        flex-shrink: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    span {
                        color: #222;
                    }
                }
            }
        }
        .image {

        }
    }
    .accordion-wrapper .accordion-list-item .accordion-item-body {
        margin-bottom: 26px;
        margin-right: 4px;
        p {
            color: #222;
            font-family: "Syne", sans-serif;
        }
    }
    .service-sidebar {
        position: relative;
        overflow: hidden;
        padding: 0;
        margin: 0;

        .service-categories {
            margin-bottom: 50px;
            padding: 50px 0px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            background: #FAF8F7;      

                .title {
                    font-size: 35px;
                    font-weight: 600;
                    line-height: initial;
                    color: $black;
                    margin-bottom: 32px;
                    margin-left: 40px;
                }

                ul {
                    list-style: none;
                    padding-left: 0;
                    margin-bottom: -11px;

                    li {
                        border-top: 1px solid rgba(0, 0, 0, 0.15);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
                        width: 100%;
                        padding: 0;
                        margin-bottom: 10px;
                        a {
                            display: inline-flex;
                            align-items: center;
                            flex-shrink: 0;
                            color: $black;
                            font-family: $heading-font;
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 30px;
                            width: 100%;
                            padding: 19px 40px;
                            @include transition;

                            i {
                                color: $primary-color;
                                font-size: 24px;
                                font-weight: 600;
                                @include transition;
                            }
                            @include sm {
                                padding: 20px;
                            }
                            &:hover {
                                color: $primary-color;

                                i {
                                    color: $primary-color;
                                    @include transition;
                                }
                            }
                        }
                        &.active {

                            a {
                                color: $primary-color;

                                i {
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }
        }
        .service-promotion {
            position: relative;
            overflow: hidden;
        
            .contact-text{
                position: absolute;
                bottom: 0;
                padding: 0 0 30px 40px;
        
                .number {
                    font-size: 35px;
                    font-weight: 600;
                    line-height: initial;
                    font-family: $heading-font;
                    color: $white;
                }
                .text {
                    font-size:  16px;
                    line-height: 29px;
                    color: $white;
                    margin-bottom: 0;
                }
            }
        }
    }
}


// FAQ Area
.faq-area {
    &.style-3 {
        margin-top: 50px;
        .faq-title {
            font-size: 36px;
            margin-bottom: 30px;
        }
    }
}

.feature-area {
    &.style-2 {
        padding: 140px 0;

        @include md {
          padding: 100px 0;
        }
        @include sm {
          padding: 80px 0;
        }

        .info-card {
            background: $white;
            border: 1px solid rgba(0, 0, 0, 0.10);

            .title {
                color: $black;
            }
            .desc {
                color: $text-color;
            }
            .thumbnail-wrapper {
                border-top: 1px solid rgba(0, 0, 0, 0.15);
            }
            .icon {
                width: 64px;
                height: 65px;
                @include transition;
                img {
                    @include transition;
                }
            }
            &:hover {
                .icon {
                    height: 0;
                    @include transition;
                }
            }
        }
    }
}