.about-info-card {
  &.style-1 {
    .about-info-content {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @include lg {
        gap: 10px;
      }
      .desc-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        @include xs {
          grid-template-columns: repeat(1, 1fr);
          gap: 0;
        }
        .desc {
          width: 50%;
          font-family: $roboto-font;

          @include xs {
            width: 100%;
          }
        }
      }
    }
  }
}