.about-image-card {
  @include rmaxwd(991) {
    margin-bottom: 70px;
  }
  .main-img-wrapper {
    .main-img-inner {
      position: relative;
      display: inline-block;

      > img {

        @include rmaxwd(767) {
          width: 100%;
        }
      }

      .image-two {
        transform: translateX(-50%);
        margin-top: -90px;
        position: relative;
      }

      .image-shape {
        position: absolute;
        right: 50px;
        bottom: 20px;

        @include rmaxwd(1399) {
          width: 100px;
          height: 100px;
        }
      }
    }
    .company-label {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $white;
      border-right: 15px solid $white;
      border-bottom: 22px solid $white;

      .icon {
        width: 170px;
        height: 170px;
        box-shadow: 0px 5px 90px 0px rgba(2, 24, 93, 0.12);
        background-color: $primary-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
